body{
    margin: 0;
    padding: 0;
    background-color: #000;
    top:0;
}
p{
    margin: 0;
    top: 0;
    letter-spacing: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    line-height: 7px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./2y.jpg) no-repeat center /cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-center: rgb(255, 255, 255, 0);
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
}

a .my-float {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    color: #221f1f;

}